.center {
  margin-left: auto;
  margin-right: auto;
}

.table-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 65vw;
  max-width: 900px;
}

.text-container {
  width: 65vw;
  max-width: 900px;
}

p {
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

